html {
  width: 100%;
  height: 100%;
  overflow-x: hidden; }

body {
  background-color: #111111;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: 'IBM Plex Sans', sans-serif; }

h1 {
  font-size: 2.4em;
  line-height: 1.6em;
  font-weight: 400; }

h4 {
  text-transform: uppercase;
  font-weight: 700;
  color: #53b2ff;
  font-size: 1em;
  line-height: 3.2em;
  letter-spacing: 0.12em; }

h5 {
  text-transform: lowercase;
  font-weight: 500;
  color: #53b2ff;
  text-align: right; }

p {
  font-size: 1.3em;
  margin-bottom: 30px;
  line-height: 1.8em;
  font-weight: 300; }

strong {
  font-weight: 500; }

a {
  text-transform: uppercase;
  font-weight: 300;
  color: #53b2ff;
  letter-spacing: 0.2em; }

a:before {
  content: "+";
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.3em;
  margin-right: 0.4em;
  color: #53b2ff;
  transition: 1s transform ease-in-out, 1s font-weight ease-in-out; }

a:hover {
  text-decoration: none;
  color: #53b2ff;
  font-weight: bolder;
  transform: scale(1.1); }

.navbar {
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: #111111;
  border-top: 0.1px solid #2e2e2e;
  z-index: 1000; }
  .navbar .collapse .navbar-nav {
    margin-left: 90px; }
    .navbar .collapse .navbar-nav .nav-item {
      padding: 0 1.6em; }
      .navbar .collapse .navbar-nav .nav-item .nav-link {
        color: darkgray;
        font-size: 0.8em;
        font-family: 'IBM Plex Mono', monospace; }

#video-bg {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1000;
  overflow: hidden; }

.main {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: auto; }
  .main .container-main {
    max-width: 100vw;
    padding: 0; }
    .main .container-main .row-main {
      margin-top: -10%; }

section {
  width: 100%;
  height: auto;
  min-height: 100vh;
  padding: 15em 4em;
  border-bottom: 1px dotted #2e2e2e;
  z-index: -1; }
  section .row:not(:first-child) {
    margin-top: 25%; }

#home {
  height: 100vh;
  color: rgba(255, 255, 255, 0.8);
  padding: 9em 4em; }
  #home .title {
    width: 42%;
    margin-left: -100px; }

.title {
  width: 100%; }

.logo-area {
  display: block;
  position: sticky;
  top: 0;
  width: 100%;
  height: 20em;
  z-index: 1000; }
  .logo-area img {
    position: sticky;
    top: 0;
    padding: 2em 8em;
    display: block;
    margin: 12% 0 20%; }

.reference {
  margin-left: -10%;
  margin-top: 2.5em;
  padding: 0; }
  .reference li {
    list-style: none;
    display: inline-block;
    position: relative;
    width: 7%; }
    .reference li img {
      width: 68%;
      height: auto;
      margin: auto;
      opacity: 0.7; }

#about {
  background-color: rgba(11, 16, 25, 0.75);
  color: rgba(255, 255, 255, 0.8); }

.grid-anim {
  display: grid;
  grid-template-columns: auto auto;
  width: 540px;
  height: 312px;
  margin: auto; }
  .grid-anim .leg-area {
    border: 1px solid transparent; }
    .grid-anim .leg-area .leg {
      height: 35px;
      width: 35px;
      border-radius: 100px;
      background-color: transparent;
      border: 2px dotted #53b2ff;
      box-shadow: 0px 1px 10px rgba(255, 255, 255, 0.2); }
      .grid-anim .leg-area .leg span {
        font-weight: 600; }
    .grid-anim .leg-area .empty {
      visibility: hidden; }
    .grid-anim .leg-area .startup {
      transform: rotate(-62deg) translate(-82px, -12px);
      animation: gridAnim 9s ease-in-out infinite alternate; }
      .grid-anim .leg-area .startup span {
        transform: rotate(62deg) translate(-6px, 34px);
        display: block;
        animation: moveStartup 9s ease-in-out infinite alternate; }
    .grid-anim .leg-area .partner {
      transform: rotate(58deg) translate(25px, 66px);
      animation: gridAnim 9s ease-in-out infinite alternate; }
      .grid-anim .leg-area .partner span {
        transform: rotate(-58deg) translate(-28px, 34px);
        display: block;
        animation: moveTechPa 9s ease-in-out infinite alternate; }
    .grid-anim .leg-area .business {
      transform: rotate(178deg) translate(-96px, 11px);
      animation: gridAnim 9s ease-in-out infinite alternate; }
      .grid-anim .leg-area .business span {
        transform: rotate(-178deg) translate(-9px, 28px);
        display: block; }

@keyframes gridAnim {
  0% {
    width: 35px;
    border: 2px dotted #53b2ff;
    background-color: transparent; }
  15% {
    width: 35px;
    border: 2px dotted #53b2ff;
    background-color: transparent; }
  40% {
    width: 185px;
    border: 2px dotted #53b2ff;
    background-color: transparent; }
  60% {
    width: 185px;
    border: 2px dotted transparent;
    background-color: white; }
  95% {
    width: 185px;
    border: 2px dotted #53b2ff;
    background-color: transparent; }
  100% {
    width: 35px;
    border: 2px dotted #53b2ff;
    background-color: transparent; } }

@keyframes moveStartup {
  0% {
    transform: rotate(62deg) translate(-6px, 34px); }
  15% {
    transform: rotate(62deg) translate(-6px, 34px); }
  40% {
    transform: rotate(62deg) translate(47px, -74px); }
  60% {
    transform: rotate(62deg) translate(47px, -74px); }
  95% {
    transform: rotate(62deg) translate(47px, -74px); }
  100% {
    transform: rotate(62deg) translate(-6px, 34px); } }

@keyframes moveTechPa {
  0% {
    transform: rotate(-58deg) translate(-28px, 34px); }
  15% {
    transform: rotate(-58deg) translate(-28px, 34px); }
  40% {
    transform: rotate(-58deg) translate(-2px, 71px); }
  60% {
    transform: rotate(-58deg) translate(-2px, 71px); }
  95% {
    transform: rotate(-58deg) translate(-2px, 71px); }
  100% {
    transform: rotate(-58deg) translate(-28px, 34px); } }

#technology {
  background-color: rgba(255, 255, 255, 0.92); }

.grid-anim-lay {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  margin: auto;
  margin-top: -8em;
  padding-bottom: 14em; }
  .grid-anim-lay .layer-area {
    margin-bottom: -14rem;
    z-index: 1; }
    .grid-anim-lay .layer-area .layer {
      display: block;
      margin: auto;
      width: 300px;
      height: 300px;
      background-image: linear-gradient(58deg, rgba(0, 0, 0, 0.09), rgba(4, 4, 4, 0) 56%), linear-gradient(77deg, #e9e9e9, transparent 27%);
      background-color: rgba(255, 255, 255, 0.95);
      transform: translate3d(0px, 57.8447px, 0px) scale3d(1, 1, 1) rotateX(50deg) rotateY(0deg) rotateZ(-45deg) skew(0deg, 0deg);
      transform-style: preserve-3d;
      opacity: 0; }
      .grid-anim-lay .layer-area .layer .icon {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        transform: rotate(45deg) translate(0px, 66px); }
        .grid-anim-lay .layer-area .layer .icon img {
          width: 25%;
          height: auto;
          margin: auto;
          display: block; }
      .grid-anim-lay .layer-area .layer .right-text {
        display: block;
        transform: rotate(90deg) translate(136px, 0px);
        position: absolute; }
      .grid-anim-lay .layer-area .layer .middle-text {
        display: block;
        position: absolute;
        transform: rotate(45deg) translate(94px, 107px);
        color: #53b2ff;
        font-size: 1.4em;
        text-align: center;
        width: 100%;
        text-transform: uppercase; }
    .grid-anim-lay .layer-area .one {
      position: relative;
      z-index: 4;
      animation: appearUp 20s ease-in-out 9s infinite normal; }
    .grid-anim-lay .layer-area .two {
      position: relative;
      z-index: 3;
      animation: appearUp 20s ease-in-out 6s infinite normal; }
    .grid-anim-lay .layer-area .three {
      position: relative;
      z-index: 2;
      animation: appearUp 20s ease-in-out 3s infinite normal; }
    .grid-anim-lay .layer-area .four {
      position: relative;
      z-index: 1;
      animation: appearUp 20s ease-in-out infinite normal; }

@keyframes appearUp {
  0% {
    opacity: 0;
    transform: translate3d(0px, 57.8447px, 0px) scale3d(1, 1, 1) rotateX(50deg) rotateY(0deg) rotateZ(-45deg) skew(0deg, 0deg) translateX(50px); }
  15% {
    opacity: 1;
    transform: translate3d(0px, 57.8447px, 0px) scale3d(1, 1, 1) rotateX(50deg) rotateY(0deg) rotateZ(-45deg) skew(0deg, 0deg) translateX(0px); }
  20% {
    opacity: 1;
    transform: translate3d(0px, 57.8447px, 0px) scale3d(1, 1, 1) rotateX(50deg) rotateY(0deg) rotateZ(-45deg) skew(0deg, 0deg) translateX(0px); }
  30% {
    opacity: 1;
    transform: translate3d(0px, 57.8447px, 0px) scale3d(1, 1, 1) rotateX(50deg) rotateY(0deg) rotateZ(-45deg) skew(0deg, 0deg) translateX(0px); }
  40% {
    opacity: 1;
    transform: translate3d(0px, 57.8447px, 0px) scale3d(1, 1, 1) rotateX(50deg) rotateY(0deg) rotateZ(-45deg) skew(0deg, 0deg) translateX(0px); }
  50% {
    opacity: 1;
    transform: translate3d(0px, 57.8447px, 0px) scale3d(1, 1, 1) rotateX(50deg) rotateY(0deg) rotateZ(-45deg) skew(0deg, 0deg) translateX(0px); }
  55% {
    opacity: 1;
    transform: translate3d(0px, 57.8447px, 0px) scale3d(1, 1, 1) rotateX(50deg) rotateY(0deg) rotateZ(-45deg) skew(0deg, 0deg) translateX(0px); }
  70% {
    opacity: 0;
    transform: translate3d(0px, 57.8447px, 0px) scale3d(1, 1, 1) rotateX(50deg) rotateY(0deg) rotateZ(-45deg) skew(0deg, 0deg) translateX(0px); }
  80% {
    opacity: 0;
    transform: translate3d(0px, 57.8447px, 0px) scale3d(1, 1, 1) rotateX(50deg) rotateY(0deg) rotateZ(-45deg) skew(0deg, 0deg) translateX(0px); }
  90% {
    opacity: 0;
    transform: translate3d(0px, 57.8447px, 0px) scale3d(1, 1, 1) rotateX(50deg) rotateY(0deg) rotateZ(-45deg) skew(0deg, 0deg) translateX(0px); }
  100% {
    opacity: 0;
    transform: translate3d(0px, 57.8447px, 0px) scale3d(1, 1, 1) rotateX(50deg) rotateY(0deg) rotateZ(-45deg) skew(0deg, 0deg) translateX(50px); } }

.benefits li {
  list-style: none;
  padding: 0.5em 0; }
  .benefits li a:not([href]):not([tabindex]) {
    color: #53b2ff; }
  .benefits li a {
    font-weight: 500; }

.mrg-left-10 {
  margin-left: 10%; }

.light {
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  top: 0;
  left: 0;
  background-color: transparent;
  border: 1px solid #53b2ff;
  border-radius: 50%;
  box-shadow: 0px 0px 20px 7px #53b2ff;
  animation: lightMove 5s ease-in-out infinite alternate; }

@keyframes lightMove {
  0% {
    transform: translate(0px, -5px); }
  20% {
    transform: translate(191px, -5px); }
  30% {
    transform: translate(191px, 152px); }
  40% {
    transform: translate(191px, 331px); }
  60% {
    transform: translate(370px, 331px); }
  80% {
    transform: translate(370px, 512px); }
  100% {
    transform: translate(549px, 512px); } }

.tech {
  display: grid;
  grid-template-columns: 180px 180px 180px;
  width: 540px;
  height: 518px; }
  .tech .tech-area {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(58deg, rgba(0, 0, 0, 0.09), rgba(4, 4, 4, 0) 56%), linear-gradient(77deg, #e9e9e9, transparent 27%);
    background-color: rgba(255, 255, 255, 0.95);
    border: 1px dotted #fff;
    display: flex;
    justify-content: center;
    align-items: center; }
    .tech .tech-area .content {
      width: 90%; }
      .tech .tech-area .content .icon {
        position: relative;
        display: block;
        width: 100%;
        height: auto; }
        .tech .tech-area .content .icon img {
          display: block;
          width: 43px;
          height: 43px;
          margin: auto;
          margin-bottom: 5%; }
      .tech .tech-area .content span {
        width: 100%;
        text-align: center;
        display: block; }
  .tech .tech-area:nth-child(5) {
    background-image: none;
    background-color: #222; }
    .tech .tech-area:nth-child(5) .content span {
      color: #53b2ff; }

#industry {
  background-color: rgba(255, 255, 255, 0.92);
  color: #222; }
  #industry .industry-flex {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 2em; }
    #industry .industry-flex .industry-area {
      display: block;
      position: relative;
      width: 17em;
      height: auto;
      border: 1px dotted #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      background-image: linear-gradient(58deg, rgba(0, 0, 0, 0.09), rgba(4, 4, 4, 0) 56%), linear-gradient(77deg, #e9e9e9, transparent 27%);
      background-color: rgba(255, 255, 255, 0.95); }
      #industry .industry-flex .industry-area .content {
        width: 90%;
        margin: 3em; }
        #industry .industry-flex .industry-area .content .pic-area {
          position: relative;
          display: block;
          width: 100%;
          height: auto; }
          #industry .industry-flex .industry-area .content .pic-area img {
            display: block;
            width: 152px;
            height: 108px;
            margin: auto;
            margin-bottom: 8%; }
        #industry .industry-flex .industry-area .content span {
          width: 100%;
          text-align: center;
          display: block; }
    #industry .industry-flex .industry-area:hover {
      transform: scale(1.05);
      z-index: 1;
      box-shadow: 0px 0px 30px 2px rgba(0, 0, 0, 0.09);
      cursor: pointer;
      transition: all 0.2s ease-in-out; }

#contact {
  background-color: rgba(11, 16, 25, 0.75);
  color: rgba(255, 255, 255, 0.8); }
  #contact .title p {
    margin-bottom: 50px; }

.contact-row {
  margin-top: auto !important; }

.contact p {
  margin-bottom: 0px; }

.contact h4::before {
  content: "+";
  margin-right: 0.4em;
  font-weight: 300; }
